@import '../../../styles/mixin';
@import '../../../styles/colors';

.cover {
  position: relative;
  height: 250px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;

  img {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
}

.avatar {
  position: relative;
  height: 170px;
  width: 170px;
  top: 63%;
  left: 50px;
  border-radius: 50%;
  background-color: $divider;

  img {
    border-radius: 50%;
    transform: scale(0.9);
    object-fit: cover;
    // object-position: top center;
  }
}

.formContainer {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding-left: 50px;
  form {
    flex-wrap: wrap;
    justify-content: space-between;

    > * {
      width: 48%;
    }
  }
  .button,
  h2 {
    width: 100%;
  }

  h2 {
    padding-top: 100px;
  }
  .button {
    justify-content: flex-end;
    column-gap: 12px;
    a,
    button {
      width: max-content;
      padding-inline: 1rem;
    }
  }

  .gender ul {
    height: 100px;
  }

  .dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    border: 1px solid $divider;
    border-radius: 15px;
    position: relative;
    // border-width: 1px;
    cursor: pointer;
    order: 9;

    img {
      object-fit: cover;
      object-position: top center;
      border-radius: 50%;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.firstname{
  order: 1;
}
.lastname{
  order: 2;
}
.phone{
  order: 3;
}
.dob{
  order: 4;
}
.email{
  order:5;
}
.gender{
  order: 6;
}
.country{
  order: 7;
}
.properties{
  order: 8;
}
