@import '../../styles/colors';

.customerCount{
    column-gap: 1rem;
    .details{
        .percentage{
            color: #2ED480;
            // font-size: ;
        }
        .amount{
            font-weight: 600;
            font-size: 26px;
        }
    }
    .areaChart{
        width: max-content;
        max-width: max-content;
    }
}