$primary-color: #475be8;
$white: #fcfcfc;
$grey: #808191;
$orange: #ec4e2c;
$text-primary-color: #11142d;
$black: #1a1d1f;
$grey-dark: #6f767e;
$green: #34a853;
$yellow: #FBBC05;
$blue: #4285F4;
$divider: #272B30