@import 'colors';
@import 'mixin';

.flex {
  display: flex;
}

.flexColumn {
  flex-direction: column;
}

.justifyContentCenter {
  justify-content: center;
}

.justifyContentBetween{
  justify-content: space-between;
}

.alignItemsCenter {
  align-items: center;
}

.rowGap1{
  row-gap: 0.68rem;
}

.rowGap2 {
  row-gap: 1.25rem;
}

.rowGap3 {
  row-gap: 2rem;
}

// Padding

.py1 {
  padding-block: 0.68rem;
}

// Text

.textCenter {
  text-align: center;
}

.textBlue {
  color: $primary-color;
}

.textGrey {
  color: $grey-dark;
}

.textRight {
  text-align: right;
}

.lh1 {
  line-height: 1.5;
}

.heading {
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 50.54px;
}

// Font
.fw400 {
  font-weight: 400;
}

// Button
.btn {
  border-radius: 10px;
  font-size: 1rem;
  line-height: 1.5;
  column-gap: 10px;
}

.btnFill {
  background-color: $primary-color;
}

.btnOutline {
  background: transparent;
  border: 1px solid $divider;
}

.block {
  display: block;
}

// margin
.mb1 {
  margin-bottom: 1rem;
}
.mt1 {
  margin-top: 0.68rem;
}
.mt2 {
  margin-top: 1.5rem;
}
.ml1 {
  margin-left: 0.68rem;
}

// width
.fw{
  width: 100%;
}

.container {
  padding: 6rem;
  width: 100%;
  max-width: 1400px;

  @include xlScreen {
    padding: 6rem 1.5rem 2rem;
  }

  @include lgScreen {
    padding-inline: 3rem;
  }

  @include mdScreen {
    padding-inline: 1.5rem;
  }

  @include smScreen{
    padding-inline: 1rem;
  }
}
